{% extends 'accounts/base.html' %}

{% block content %}

  <div class="jumbotron">
    <h2>Our Vision</h2>
  </div>

  <div class="our-services">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="services">
              <div class="icons">
                <i class="fa fa-heart-o fa-3x"></i>
              </div>
              <h4>Quick Support</h4>
              <p>
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
              </p>
            </div>
          </div>
          <hr>
        </div>
        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
            <div class="services">
              <div class="icons">
                <i class="fa fa-desktop fa-3x"></i>
              </div>
              <h4>Web Design</h4>
              <p>
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
              </p>
            </div>
          </div>
          <hr>
        </div>
      </div>

      </div>
    </div>
  </div>


 <div class="jumbotron">
    <h2>Our Mission</h2>
  </div>

  <div class="our-services">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="services">
              <div class="icons">
                <i class="fa fa-heart-o fa-3x"></i>
              </div>
              <h4>Quick Support</h4>
              <p>
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
              </p>
            </div>
          </div>
          <hr>
        </div>
        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
            <div class="services">
              <div class="icons">
                <i class="fa fa-desktop fa-3x"></i>
              </div>
              <h4>Web Design</h4>
              <p>
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
              </p>
            </div>
          </div>
          <hr>
        </div>
      </div>

      </div>
    </div>
  </div>


 <div class="jumbotron">
    <h2>Our Story</h2>
  </div>

  <div class="our-services">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="services">
              <div class="icons">
                <i class="fa fa-heart-o fa-3x"></i>
              </div>
              <h4>Quick Support</h4>
              <p>
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
              </p>
            </div>
          </div>
          <hr>
        </div>
        <div class="col-md-6">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.8s">
            <div class="services">
              <div class="icons">
                <i class="fa fa-desktop fa-3x"></i>
              </div>
              <h4>Web Design</h4>
              <p>
                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
              </p>
            </div>
          </div>
          <hr>
        </div>
      </div>

      </div>
    </div>
  </div>



  {% endblock content %}