<header>
    <nav div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <ul class="social-network">
          <li><a href="https://www.facebook.com" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
          <li><a href="https://www.twitter.com" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
          <li><a href="https://www.linkedin.com" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
          <li><a href="https://www.pinterest.com" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
          <li><a href="https://www.instagram.com" data-placement="top" title="Instagram"><i class="fa fa-instagram fa-1x"></i></a></li>
        </ul>
        <ul class="info">
          <li>
            <p><i class="fa fa-phone"></i>+1 769 525 422 5663</p>
          </li>
          <li><a href="#"><i class="fa fa-envelope"></i>admin@hepeps.com</a></li>
        </ul>
      </div>
    </nav>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
            <div class="navbar-brand">
              <a href="index.html"><h1><span>H</span>epeps <span>S</span>olutions</h1></a>
            </div>
          </div>

          <div class="navbar-collapse collapse">
            <div class="menu">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="{% url 'home' %}">Home</a></li>
                <li role="presentation"><a href="{% url 'services' %}">Services</a></li>
                <li role="presentation"><a href="{% url 'blog' %}">Blog</a></li>
                <li role="presentation"><a href="{% url 'portfolio' %}">Portfolio</a></li>
                <li role="presentation"><a href="{% url 'contact' %}">Contact</a></li>
                <li role="presentation"><a href="{% url 'about' %}">About</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>